<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">MedicineReceipts</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="medicine" class="nav-link">Medicines</a>
      </li>
      <li class="nav-item">
        <a routerLink="pharmacy" class="nav-link">Pharmacy</a>
      </li>
      <li class="nav-item">
        <a routerLink="doctor" class="nav-link">Doctor</a>
      </li>
      <li class="nav-item">
        <a routerLink="patient" class="nav-link">Patients</a>
      </li>
    </div>

    <ul class="navbar-nav mr-auto" >
      
    </ul>

    <ul class="navbar-nav mr-auto" >

    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!authService.isAuthenticated">
      <li class="nav-item">
        <a href="register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="authService.isAuthenticated">
      <li class="nav-item">
        <a href class="nav-link" (click)="authService.logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>