  <div class="container content-container" *ngIf="doctors">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display compact" style="width:100%">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Specialty</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
          <td>{{ doctor.user.first_name }}</td>
          <td>{{ doctor.user.last_name }}</td>
          <td>{{ doctor.user.address }}</td>
          <td>{{ doctor.specialty }}</td>
          <td>
            <button (click)="selectDoctor(doctor.id)" class="btn">Select </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>